---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
  - ../../base
images:
  - name: microservice
    newName: quay.io/rblake/db-migration-microservice:v1
patchesStrategicMerge:
  - patches/microservice.yml